<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome back {{ userFullName }}
  </div>
  <iframe
  src="https://www.projectmart.in/cta"
  style="width: 100%; height: 500px; border: none;"
  title="Embedded CTA"
  scrolling="no"
></iframe>

  <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">
    Login
  </button>

  <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">
    Logout
  </button>
  <iframe
  src="https://www.projectmart.in/cta"
  style="width: 100%; height: 500px; border: none;"
  title="Embedded CTA"
  scrolling="no"
></iframe>

  <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn">Member</button>

  <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Orders</button>


</div>
